html {
  height: 100%;
}

body {
  height: 100%;
  /*background: #e6eff7;*/
  background-image: url(../img/abstract-medical-wallpaper-template-design-53876-61803.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.piepagina {
  width: 100%;
  height: 65px;
  text-align: center;
  padding-top: 8px;
  float: none;
}
